:root {
  /* Color */
  --tabsbg-color: #060d14;
  --bg-color: #0c141f;
  --block-color: #141f2d;
  --imgbg-color: #303741;
  --border-color: #101111;
  --sep-color: #2f3b4c;
  --tabs-focuscolor: #1292ec;
  --tabs-hovercolor: #2b384b;
  --white-nor: #f0f0f0;
  --white-hi: #f8f8f8;
  --white-dim: #7c8389;
  --btn-nor: #2f3b4c;
  --btn-nor-border: #38455a;
  --btn-focus: #0b7db6;
  --btn-focus-border: #259af3;
  --btn-hover: #3e4d63;
  --btn-hover-border: #2499f2;

  /* Size */
  --img-b-size: 689px;
  --img-bm-size: 515px;
  --img-m-size: 457px;
  --img-ms-size: 341px;
  --img-s-size: 225px;
  --btn-b-width: 341px;
  --btn-m-width: 167px;
  --btn-ms-width: 130px;
  --btn-s-width: 109px;
  --btn-height: 28px;
  --btn-ss-width: 90px;
  --btn-height: 28px;
  --btn-bd-radius: 4px;
  --checkbox-size: 16px;
  /* padding */
  --padding-top-bottom: 10px;
  --padding-left-right: 14px;
  --padding-sub-sub: 8px;
  --padding-sec-items: 30px;
  --padding-item-item: 6px;
  --padding-items: 5px;
  --padding-btn-label: 4px;
  /* Font size */
  --font-nor: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  width: 716px;
  background-color: var(--bg-color);
  color: var(--white-nor);
  border: 1px solid yellow;
}

li {
  list-style: none;
}

/* tabs 및 toggle Radio 지우기 */
.tabs input[type="radio"],
.sub_tabs input[type="radio"],
.toggle_btn input[type="radio"] {
  display: none;
}

/* tabs 아래의 content 속성 부여 */
.content,
.subContent,
.subSubContent {
  display: flex;
  flex-direction: column;
}

/* ===== tabs depth1 속성 ===== */
.tabs {
  display: flex;
  width: auto;
  height: 38px;

  background-color: var(--tabs-bgcolor);
  border-bottom: 1px solid var(--sep-color);
}

.tabs input[type="radio"] + label {
  width: 140px;
  height: auto;
  padding: 6px 10px;

  color: var(--white-dim);
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
}

.tabs input[type="radio"]:hover + label {
  border-bottom: 2px solid var(--tabs-hovercolor);
}

.tabs input[type="radio"]:checked + label {
  border-bottom: 2px solid var(--tabs-focuscolor);
  color: var(--white-hi);
}
/* ========================= */

main {
  background-color: var(--bg-color);
  padding: 3px 2px 0px 2px;
}

main section {
  background-color: var(--block-color);
  padding: 10px 7px 10px 10px;
  margin-bottom: 3px; /*블록 사이 여백*/

  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  color: var(--white-nor);
  align-items: center;
  height: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.title .spin {
  margin-right: 10px;
}

.title img {
  width: 12px;
  height: 8px;
}

select {
  text-align: center;
  height: var(--btn-height);
  width: var(--btn-m-width);
}

input[type="text"] {
  text-align: center;
  height: var(--btn-height);
  width: var(--btn-m-width);
}

.toggle_btn {
  display: flex;

  padding: var(--padding-items) 0px;
}

.toggle_btn input[type="radio"] + label {
  width: 110px;
  height: var(--btn-height);
  line-height: var(--btn-height);
  text-align: center;

  background-color: var(--btn-nor);
  color: var(--white-nor);
  border: 1px solid var(--btn-nor-border);
  border-radius: var(--btn-bd-radius);
  margin-right: 4px;
}

.toggle_btn input[type="radio"]:hover + label {
  background-color: var(--btn-hover);
  border: 1px solid var(--btn-hover-border);
}

.toggle_btn input[type="radio"]:checked + label {
  background-color: var(--btn-focus);
  border: 1px solid var(--btn-focus-border);
}

button {
  height: var(--btn-height);
  border: 1px solid var(--btn-nor-border);
  background-color: var(--btn-nor);
  color: var(--white-nor);
  border-radius: var(--btn-bd-radius);
}
button:hover {
  background-color: var(--btn-hover);
  border: 1px solid var(--btn-hover-border);
}
button:active {
  background-color: var(--btn-focus);
  border: 1px solid var(--btn-focus-border);
}
button.apply {
  width: var(--btn-s-width);
}
button.add {
  width: 32px;
  margin-left: 6px;
}

.items {
  display: flex;
  justify-content: space-between;

  padding: var(--padding-items) 0px;
}

.items.flex-end {
  justify-content: flex-end;
}

.items ul.half {
  width: 50%;
}

.items ul.oneThird {
  width: 33.333%;
}

select,
input[type="text"] {
  background-color: #273142;
  color: var(--white-nor);
  border: 1px solid var(--btn-nor-border);
  border-radius: var(--btn-bd-radius);
}

.items ul.left,
.items ul.right,
.items ul.first,
.items ul.second,
.items ul.third {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.items ul.s-width input,
.items ul.s-width select {
  width: var(--btn-s-width);
}

.items li.eachLine {
  padding: var(--padding-items) 0;
}

img.bm-size {
  width: var(--img-bm-size);
}

img.m-size {
  width: var(--img-m-size);
}

img.ms-size {
  width: var(--img-ms-size);
}

img.s-size {
  width: var(--img-s-size);
}

.greyImageBox {
  background-color: var(--imgbg-color);
  text-align: center;
}

input[readonly] {
  color: var(--white-dim);
}

/* footer 시작 */
footer {
  background-color: var(--bg-color);
  margin: 0 0px;
}
footer section {
  /*블록 영역 정의 */
  display: flex;
  justify-content: space-between;
  background-color: var(--block-color);
  padding: 10px 14px 10px 14px;
}
footer section > div {
  display: flex;
  align-items: center;
}
footer section button {
  width: var(--btn-b-width);
  height: var(--btn-height);
}
